@charset "utf-8";
/* CSS Document */
/*
body{
	background-color:antiquewhite;
	background-image: url(images/HallwylfjelletSunset_ZH-CN9300910376_1920x1080.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position:top;
}
*/
*
{
	box-sizing: border-box;
}
body
{
	margin:0px;
	background-color: antiquewhite;
}
.topmenu
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color:dimgray;
}
.topmenu li
{
	float:left;
}
.topmenu li a
{
	display: inline-block;
	color: aliceblue;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}
.topmenu li a:link,a:visited
{
	background-color: dodgerblue;
}
.topmenu li a:hover,a:active
{
/*	font-size: 150%;*/
	background-color:black;
}

